* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(238, 191, 198);
    display: flex;
}

header {
    flex-direction: row;
}

main {
    flex-direction: row;
}

footer {
    flex-direction: row;
    align-items: center;
}

section #logo_br {
    width: 100px;
    height: 100px;
    margin-left: 40px;
    margin-top: 20px;
}

section nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: stretch;
    align-content: flex-end;

}

div #banner_ppal {
    width: auto;
    height: auto;
    padding: 100px 100px 100px 100px;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 200px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: rgb(27, 29, 31);
    text-size-adjust: auto;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-style: normal;
    text-align: center;
    color: rgb(27, 29, 31);
    text-size-adjust: auto;
}

nav ul li {
    padding: 7px 7px 7px 7px;
    border: 3px solid white;
    border-width: 3px;
    border-radius: 5px;
    margin: 20px 20px 20px 20px;
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
}

.great_vibes {
    font-family: 'Great Vibes', cursive;
}

.roboto {

    font-family: 'Roboto', sans-serif;
}

.sacramento {
    font-family: 'Sacramento', cursive;
}

header section #logo_br {
    display: inline-block;

}

footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    color: rgb(27, 29, 31);
}

div img {
    display: flex;
    flex-flow: row nowrap;



    div .img_inicio {
        display: inline-block;
        weight: 400px 400px 400px 400px;
    }