* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nav {
  display: flex;
  justify-content: flex-end;
}

#acerca_de {
  display: flex;
  width: 100%;
  text-align: center;
}

.col #mi_carrito {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 5px;
  justify-items: center;
  align-items: center;
}

body {
  background-color: rgb(238, 191, 198);
  display: grid;
  grid-template-areas: "header nav nav" "main main main" "footer footer footer";
  grid-template-rows: auto;
  grid-template-columns: auto;
  justify-content: space-evenly;
  align-content: center;
  margin: 0;
  padding: 0;
  justify-items: center;
  width: 100%;
}

header {
  display: grid;
  grid-area: header;
  background-color: rgb(238, 191, 198);
  justify-items: center;
  align-items: center;
  grid-area: header;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

nav {
  grid-area: nav;
  padding: 20px;
  margin: 30px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  padding: 7px;
  background-color: rgb(238, 191, 198);
  border: 3px solid white;
  border-radius: 5px;
  margin: 20px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  color: rgb(27, 29, 31);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  grid-area: main;
}

.col #mi_carrito .card {
  width: 18rem;
  margin-bottom: 10px;
  float: left;
  max-width: 100%;
}

footer {
  display: grid;
  grid-area: footer;
  justify-content: center;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

footer p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  color: rgb(27, 29, 31);
}

section img {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

#logo_br {
  grid-area: logo_br;
  width: 100px;
  height: 100px;
  margin-left: 40px;
  margin-top: 10px;
  display: inline-flex;
  padding: 5px;
}

#banner_ppal {
  grid-area: banner_ppal;
  width: 90%;
  height: auto;
  padding: 50px;
}

#img-index {
  grid-area: img-index;
  display: flex;
  flex-wrap: wrap;
}

.fila_img {
  display: flex;
  flex-direction: row;
}

.fila_img .img_inicio {
  width: 300px;
  height: 300px;
  padding: 10px;
}

.fila_img .img_inicio img:hover {
  opacity: 1;
}

.img_productos {
  display: inline-block;
  width: 15rem;
  border-radius: 1px;
}

#img-acerca {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fila_img .img_acerca {
  width: 300px;
  height: 300px;
  padding: 10px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

#title {
  grid-area: title;
  font-family: "Sacramento", cursive;
  font-size: 150px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color: rgb(27, 29, 31);
}

#texto-index {
  grid-area: texto-index;
}

h1 {
  font-family: "Sacramento", sans-serif;
  font-size: 10rem;
  font-style: normal;
  text-align: center;
  color: rgb(27, 29, 31);
  -webkit-text-size-adjust: auto;
     -moz-text-size-adjust: auto;
          text-size-adjust: auto;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: rgb(27, 29, 31);
  -webkit-text-size-adjust: auto;
     -moz-text-size-adjust: auto;
          text-size-adjust: auto;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: rgb(27, 29, 31);
  -webkit-text-size-adjust: auto;
     -moz-text-size-adjust: auto;
          text-size-adjust: auto;
}

.great_vibes {
  font-family: "Great Vibes", cursive;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.sacramento {
  font-family: "Sacramento", cursive;
}

.form-nombre {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(27, 29, 31);
  -webkit-text-size-adjust: auto;
     -moz-text-size-adjust: auto;
          text-size-adjust: auto;
}

.form-mail {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(27, 29, 31);
  -webkit-text-size-adjust: auto;
     -moz-text-size-adjust: auto;
          text-size-adjust: auto;
}

.form-texto {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(27, 29, 31);
  -webkit-text-size-adjust: auto;
     -moz-text-size-adjust: auto;
          text-size-adjust: auto;
}

.acerca_de {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-align: center;
  color: rgb(27, 29, 31);
  -webkit-text-size-adjust: auto;
     -moz-text-size-adjust: auto;
          text-size-adjust: auto;
  max-width: 100%;
}

.texto,
.title,
.acerca_de,
.title_contact,
.title_carrito,
.title_prod {
  margin: 0 auto;
  text-align: center;
  max-width: 80%;
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  #grilla_index,
  #grilla_acerca,
  #grilla_productos,
  #grilla_carrito,
  #grilla_contacto {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
    padding: 5px;
    grid-template-areas: "header" "banner_ppal" "title" "texto-index" "fila_img" "footer";
    grid-template-rows: auto;
    grid-template-columns: auto;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  #grilla_index,
  #grilla_acerca,
  #grilla_productos,
  #grilla_carrito,
  #grilla_contacto {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
    padding: 5px;
    grid-template-areas: "header nav nav" "banner_ppal banner_ppal banner_ppal" "title title title" "texto-index texto-index texto-index" "fila_img fila_img fila_img" "footer footer footer";
    grid-template-rows: auto;
    grid-template-columns: auto;
  }
}
@media screen and (min-width: 1025px) {
  #grilla_index,
  #grilla_acerca,
  #grilla_productos,
  #grilla_carrito,
  #grilla_contacto {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
    padding: 5px;
    grid-template-areas: "header nav nav" "banner_ppal banner_ppal banner_ppal" "title title title" "texto-index texto-index texto-index" "img-index img-index img-index" "footer footer footer";
    grid-template-rows: auto;
    grid-template-columns: auto;
  }
}
.title,
.title_prod,
.title_carrito,
.title_contact {
  text-align: center;
}/*# sourceMappingURL=style.css.map */