footer {
    display: grid;
    grid-area: footer;
    justify-content: center;
    margin: 0;
    padding: 0;
}
footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    color: rgb(27, 29, 31);
}