@media screen and (max-width: 600px) {
    #grilla_index,
    #grilla_acerca,
    #grilla_productos,
    #grilla_carrito,
    #grilla_contacto {
      display: grid;
      justify-items: center;
      align-items: center;
      grid-gap: 10px;
      padding: 5px;
      grid-template-areas:
        "header"
        "banner_ppal"
        "title"
        "texto-index"
        "fila_img"
        "footer";
      grid-template-rows: auto;
      grid-template-columns: auto;
    }
  }
  
  @media screen and (min-width: 601px) and (max-width: 1024px) {
    #grilla_index,
    #grilla_acerca,
    #grilla_productos,
    #grilla_carrito,
    #grilla_contacto {
      display: grid;
      justify-items: center;
      align-items: center;
      grid-gap: 10px;
      padding: 5px;
      grid-template-areas:
        "header nav nav"
        "banner_ppal banner_ppal banner_ppal"
        "title title title"
        "texto-index texto-index texto-index"
        "fila_img fila_img fila_img"
        "footer footer footer";
      grid-template-rows: auto;
      grid-template-columns: auto;
    }
  }
  
  @media screen and (min-width: 1025px) {
    #grilla_index,
    #grilla_acerca,
    #grilla_productos,
    #grilla_carrito,
    #grilla_contacto {
      display: grid;
      justify-items: center;
      align-items: center;
      grid-gap: 10px;
      padding: 5px;
      grid-template-areas:
        "header nav nav"
        "banner_ppal banner_ppal banner_ppal"
        "title title title"
        "texto-index texto-index texto-index"
        "img-index img-index img-index"
        "footer footer footer";
      grid-template-rows: auto;
      grid-template-columns: auto;
    }
  }
  
  .title,
  .title_prod,
  .title_carrito,
  .title_contact {
    text-align: center;
  }