@media screen and (min-width: 320px) and (max-width: 767px) {
    #grilla_index {
        display: grid;
        grid-template-areas:
            "header" "nav"
            "banner_ppal"
            "title"
            "texto-index"
            "fila_img fila_img"
            "fila_img fila_img"
            "footer";
        grid-template-rows: repeat(7, 12%);
        grid-template-columns: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #grilla_index {
        display: grid;
        grid-template-areas:
            "header nav"
            "banner_ppal"
            ". title ."
            ". texto-index ."
            "fila_img fila_img fila_img"
            "fila_img fila_img fila_img"
            "footer";
        grid-template-rows: repeat(7, 12%);
        grid-template-columns: auto;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
    #grilla_index {
        display: grid;
        grid-template-areas:
            "header nav"
            "banner_ppal"
            ". title ."
            ". texto-index ."
            "fila_img fila_img fila_img"
            "fila_img fila_img fila_img"
            "footer";
        grid-template-rows: repeat(7, 12%);
        grid-template-columns: auto;
    }
}

@media screen and (min-width: 1200px) {
    #grilla_index {
        display: grid;
        grid-template-areas:
            "header nav nav"
            "banner_ppal banner_ppal banner_ppal"
            ". title ."
            ". texto-index ."
            "img-index img-index img-index img-index img-index img-index"
            "footer footer footer";
        grid-template-rows: repeat(6, 15%);
        grid-template-columns: 20% auto auto;
    }
}

body {
    background-color: rgb(238, 191, 198);
}