#grilla_index {
    display: grid;
    grid-template-areas:
        "banner_ppal banner_ppal banner_ppal"
        ". title ."
        ". texto-index ."
        "img-index img-index img-index"
        "img-index img-index img-index"
        "footer footer footer";
    grid-template-rows: repeat(6, 10rem);
    grid-template-columns: auto;
    column-gap: 10px;
    row-gap: 10px;
    padding: 5px;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    margin: 20px;
    justify-items: stretch;
    width: 100%;
}

#cabecera {
    display: grid;
    grid-template-areas:
        "logo_br nav";
    grid-template-rows: 10rem 10rem;
    grid-template-columns: auto;
    column-gap: 10px;
    row-gap: 10px;
    padding: 5px;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: flex-end;
    margin: 0;
    justify-items: stretch;
    width: 100%;
    background-color: rgb(238, 191, 198);
}

#mi_carrito {
    display: grid;
    grid-template-areas:
        "card card card"
        "card card card"
        "card card card"
        "card card card"
        "card card card";
    grid-template-rows: repeat(5, 10rem);
    grid-template-columns: auto;
    column-gap: 10px;
    row-gap: 10px;
    padding: 5px;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
    margin: 0;
    justify-items: center;
    width: 100%;
}

body{
    display: grid;
    grid-template-areas: 
    "header nav nav"
    "main main main"
    "footer footer footer";
    grid-template-rows: auto;
    grid-template-columns: auto;
    justify-content: space-evenly;
    align-content: center;
    margin: 0;
    justify-items: center;
    width: 80%;
}