.col #mi_carrito {
    display: grid;
    grid-template-areas:
        "card card card"
        "card card card"
        "card card card"
        "card card card"
        "card card card";
    grid-template-rows: repeat(5, 2rem);
    grid-template-columns: auto;
    grid-auto-flow: row;
    column-gap: 10px;
    row-gap: 10px;
    padding: 5px;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
    margin: 0;
    justify-items: center;
    width: 100%;
}

.col #mi_carrito .card {
    width: 18rem;
    margin-bottom: 10px;
}

body{
    display: grid;
    grid-template-areas: 
    "header nav nav"
    "main main main"
    "footer footer footer";
    grid-template-rows: auto;
    grid-template-columns: auto;
    justify-content: space-evenly;
    align-content: center;
    margin: 0;
    padding: 0;
    justify-items: center;
    width: 100%;
}