.col #mi_carrito {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 5px;
    justify-items: center;
    align-items: center;
}

body {
    background-color: rgb(238, 191, 198);
    display: grid;
    grid-template-areas:
        "header nav nav"
        "main main main"
        "footer footer footer";
    grid-template-rows: auto;
    grid-template-columns: auto;
    justify-content: space-evenly;
    align-content: center;
    margin: 0;
    padding: 0;
    justify-items: center;
    width: 100%;
}